<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2 id="takim">Takım</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/mt2.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="https://mithattuncertuncel.com/">Mithat Tuncer Tuncel</a></h3>
                    <p>CEO</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://mithattuncertuncel.com/"><i class="fa fa-globe"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/mithatttuncel"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/mithattuncertuncel/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/sl2.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Selin Tuncel </a></h3>
                    <p>CMO</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://selintuncel.com"><i class="fa fa-globe" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://twitter.com/SelinnTuncel"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/aziz.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Aziz Kenjaev </a></h3>
                    <p>CSO</p>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/tekin.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Orkun Kara </a></h3>
                    <p>CTO</p>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/by.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Secat Affan </a></h3>
                    <p>Product Manager</p>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/mert.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Austin Honest </a></h3>
                    <p>Lead Backend Developer</p>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/riza.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Francis North</a></h3>
                    <p>Lead Front-End Developer </p>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/tuncay.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Myung- dae Kim </a></h3>
                    <p> Lead iOS Developer</p>
                </div>
            </li>


            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/y2.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Niall Foley</a></h3>
                    <p> Lead Android Developer</p>
                </div>
            </li>


            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/img/zeynep.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Zeynep Baştürk </a></h3>
                    <p> Social media and PR </p>
                </div>
            </li>



        </ul>
    </div>
</section>